.home {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.home h2 {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 20px;
  color: #1f2937;
}

/* GRID */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 18px;
}

/* Loading */
.loading {
  padding: 100px;
  text-align: center;
  font-weight: bold;
  color: #10847e;
}
